body {
  font-family: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
  font-size: 2rem;
  line-height: 1.8;
}

details,
figure {
  margin-block-end: 1.5lh;
}
