@use "../_abstracts/abstracts" as *;

body {
  font-family: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
  font-size: 2rem;
  line-height: 1.8;
}

blockquote,
details,
figure,
.block {
  margin-block-end: 1.5lh;
}

blockquote {
  padding-inline-start: 5.6rem;

  &:before,
  &:after {
    display: block;
    font-size: 2em;
    font-weight: 700;
    margin-inline-start: -5.6rem;
    text-box: trim-both cap alphabetic;
  }

  footer {
    &:before {
      content: "— ";
    }
  }
}

[popover] {
  background-color: $color-white;
  max-inline-size: 50rem;
  padding: 20px;

  &::backdrop {
    background: rgba($color-black, .5);
  }
}
