/*
	TODO - https://www.vzhurudolu.cz/prirucka/css-tisk-knih
*/

// https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/
// https://www.interval.cz/clanky/css2-pravidlo-stranky/

@import "_abstracts/abstracts";
@import "_base/reset";

$color-black: #000;
$color-white: #fff;

// Print styles adapted from HTML5 Boilerplate: https://github.com/h5bp/html5-boilerplate
@media print {
	* {
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
	}

	/** Setting margins */
	@page {
		margin: 2cm;
	}


	/** Blanket Styles */
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: $color-black !important; /* Black prints faster */
		-webkit-box-shadow: none !important;
		        box-shadow: none !important;
		text-shadow: none !important;
	}


	/** Print Friendly Links */
	a,
	a:visited {
		&:not(.btn) {
			text-decoration: underline;
		}
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	//TODO: změnit doménu
	a[href^="/"]:after {
		content: " (https://www.fg.cz" attr(href) ") ";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	//Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol
	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		page-break-inside: avoid;
	}


	/** Printing Tables */
	thead {
		display: table-header-group;
	}


	/** Optimizing Page Breaks */
	a,
	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3,
	h4,
	h5,
	h6 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		page-break-after: avoid;
	}

	video,
	audio,
	object,
	embed {
		display: none;
	}

	.print,
	.visible-print {
		display: block !important;
	}

	.noprint,
	.hidden-print {
		display: none !important;
	}

	img {
		max-width: 100% !important;
	}

	.container {
		padding: 0;
		width: 100%;
	}


	/*
		html {
			font-size: 50%;
		}
	*/

	/*
	[class*="col-"] {
		width: 100%;
	}

	[class*="col-xxs-offset-"],
	[class*="col-xs-offset-"],
	[class*="col-sm-offset-"],
	[class*="col-md-offset-"],
	[class*="col-lg-offset-"] {
		margin-left: 0;
	}
	*/
}

