.btn {
	display: inline-flex;
	text-decoration: none;
	transition: all $animation-speed ease-in-out;

	@include hover() {

	}

	@include focus() {

	}

	&:not(:last-child) {

	}
}

.buttons {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	max-width: none;
}
