@use "../_abstracts/abstracts" as *;

.btn {
  display: inline-flex;
  text-decoration: none;
  transition: all $animation-speed ease-in-out;

  &:hover {

  }

  &:focus-within {

  }

  &:not(:last-child) {

  }
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  max-width: none;
}
