table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

caption {
	caption-side: bottom;
	text-align: left;
}

th, td {
	text-align: left;
	vertical-align: top
}

thead {
	th {
		font-weight: 700;
		vertical-align: bottom;
	}
}

td,
th {
	white-space: nowrap;
}
