/**
 * Can not be used due to MS Edge
 */
/*
* {
	-webkit-transition: all @animation-speed ease-in-out;
	   -moz-transition: all @animation-speed ease-in-out;
	        transition: all @animation-speed ease-in-out ;
}
*/

* {
	scroll-margin-top: 5rem;
}

html {
	cursor: default; /* Use the default cursor in all browsers (opinionated). */
	font-size: 62.5%; /* This will set all REM to 10 px */
	height: 100%;
	overflow-y: scroll; /* Display vertical scrollbar at all times to prevent a jumpy page. */
	//scroll-behavior: smooth;
	-webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. */
	    -ms-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in IE on Windows Phone */
	        text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes */
	//word-break: break-word; /* Breaks words to prevent overflow in all browsers (opinionated). */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Change the default tap highlight to be completely transparent in iOS. */
	//-webkit-tap-highlight-color: transparent; /* Remove gray overlay on links for iOS. */

	/* Disable smooth scrolling when users have prefers-reduced-motion enabled */
	@media screen and (prefers-reduced-motion: reduce) {
		scroll-behavior: auto;
	}
}

body {
	color: $text-color;
	font-display: swap;
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: 400;
	line-height: $line-height-base;
	//min-height: 100%;  /*  Ensure the body element's `min-height` is at least the viewport height. */
	min-height: 100vh;  /*  Ensure the body element's `min-height` is at least the viewport height. */
	min-height: -webkit-fill-available; /* mobile viewport bug fix */
	overflow-x: hidden;
	position: relative;

	/* Animation setting */
	/*
	transition: all @animation-speed ease-in-out ;
	*/

	/* Better font rendering. */
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
	         text-rendering: optimizeLegibility;
	         //text-rendering: optimizeSpeed;

	//-webkit-text-stroke: 0.45px;
	// or
	//-webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
	// or
	//text-shadow: #fff 0px 1px 1px;
}

p,
//div,
table,
pre,
.wysiwyg-content ul,
.wysiwyg-content ol,
address,
.address,
.horizontal-scroll-container {
	margin-bottom: $line-height-base*1em;
}

hr {
	box-sizing: content-box; /* Add the correct box sizing in Firefox. */
	height: 0; /* Add the correct sizing in Firefox. */
	overflow: visible; /* Show the overflow in Edge and IE. */
}

pre,
code,
kbd,
samp {
	@include scrollbar();

	font-family: monospace, monospace; /* Correct the inheritance and scaling of font size in all browsers. */
	overflow: auto;
	white-space: pre-wrap;
	word-wrap: normal;

	-moz-tab-size: 4; /* Use a x-space tab width in all browsers (opinionated). */
	     tab-size: 4; /* Use a x-space tab width in all browsers (opinionated). */
}

abbr[title] {
	border-bottom: 1px dotted;
	cursor: help;
	position: relative;
	text-decoration: none;
	//text-decoration: underline;
	//text-decoration: underline dotted; /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
	//text-decoration-skip-ink: none; /* Prevent the text-decoration to be skipped. */

	@include hover() {
		&:after {
			background-color: $color-white;
			border: .1rem solid #767676;
			box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, 0.4);
			color: $text-color;
			content: attr(title);
			font-size: .75em;
			left: 50%;
			padding: .3rem .5rem;
			position: absolute;
			top: 100%;
			transform: translateX(-50%);
			white-space: nowrap;
			width: auto;
		}
	}

	@include focus() {
		&:after {
			background-color: $color-white;
			border: .1rem solid #767676;
			box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, 0.4);
			color: $text-color;
			content: attr(title);
			font-size: .75em;
			left: 50%;
			padding: .3rem .5rem;
			position: absolute;
			top: 100%;
			transform: translateX(-50%);
			white-space: nowrap;
			width: auto;
		}
	}
}

audio {
	display: block;
	width: 100%;
}

iframe {
	width: 100%;
}
