* {
	background-color: transparent; /* As a best practice, apply a default `background-color`. */
	border: 0;
	box-sizing: border-box; /* Add border box sizing in all browsers (opinionated). */
	font-family: inherit;
	//font-size: 100%;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;

	&:before,
	&:after {
		box-sizing: inherit;
		text-decoration: inherit; /* Add text decoration inheritance in all browsers (opinionated). */
		vertical-align: inherit; /* Add vertical alignment inheritance in all browsers (opinionated). */
	}

	> *:first-child {
		margin-top: 0 !important;
		//margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0 !important;
		//margin-bottom: 0;
	}
}

/**
 * Shim for "new" HTML5 structural elements to display correctly (IE10, older browsers)
 */
article, aside, audio, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, time {
	display: block;
}

/**
 * Prevent this elements from spilling outside of the page on smaller screens.
 */
img, iframe, input, select, svg, textarea, video  {
	max-width: 100%;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	-ms-touch-action: manipulation; /* Remove the tapping delay in IE 10. */
	touch-action: manipulation; /* Remove the tapping delay on clickable elements in all browsers (opinionated). */
}

/**
 * Fix Windows 8 and Windows Phone 8 behavior
 */
@-ms-viewport {
	width: device-width;
}

/**
 * Get IE 10 Snap Mode to play nicely with `meta` viewport.
 */
@viewport {
	width: device-width;
}
