h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
	color: $text-color;
	display: block;
	font-weight: 600;
}

h1, .h1 {

	+ h2, + .h2 {

	}
}

h2, .h2 {

	+ h3, + .h3 {

	}
}

h3, .h3 {

	+ h4, + .h4 {

	}
}

h4, .h4 {

}

.perex {

}

b,
strong,
.strong {
	font-weight: 700; /* Add the correct font weight in Chrome, Edge, and Safari. */
}

a {
	background-color: transparent; /* Remove the gray background on active links in IE 10. */
	//color: currentColor;
	color: $link-color;
	//outline: 0; /* remember to define focus styles! */
	text-decoration: underline;
	transition: all $animation-speed ease-in-out;

	&:visited {

	}

	@include focus() {

		&:hover {

		}
	}

	&:hover {
		//outline: 0;
		text-decoration: none;
	}

	&:not([class]) {
		text-decoration-skip-ink: auto;
	}
}

.address {
	font-style: normal;
}

/*
 * Text selections.
 */
/*
::-moz-selection {
	background-color: #b3d4fc; !* Restore the coloring undone by defining the text shadow all browsers (opinionated). *!
	color: #000; !* Restore the coloring undone by defining the text shadow all browsers (opinionated). *!
	text-shadow: none;
}

::selection {
	background-color: #b3d4fc; !* Restore the coloring undone by defining the text shadow all browsers (opinionated). *!
	color: #000; !* Restore the coloring undone by defining the text shadow all browsers (opinionated). *!
	text-shadow: none;
}
*/



/*
 * Text index
 */
sub, sup {
	font-size: percentage(2 / 3);
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.75em;
}

blockquote, q {
	quotes: none;

	&:before, &:after {
		content: '';
	}
}

small {
	font-size: percentage(5 / 6); /* Add the correct font size in all browsers. */
}

del {
	text-decoration: line-through;
}
