/* responsive image */
@mixin responsive-image() {
  block-size: auto;
  display: block;
  inline-size: auto;
  max-inline-size: 100%;
  vertical-align: middle; /* Remove the gap between <img> elements and the bottom of their */
}

/* svg */
@mixin svg-icon-fill($fill: currentColor, $width: 5rem, $height: 5rem) {
  @include transition(fill);
  block-size: $height;
  fill: $fill;
  fill-rule: evenodd;
  inline-size: $width;
  stroke: $fill;
  stroke-width: 0;
}

@mixin svg-icon-stroke($stroke: currentColor, $width: 5rem, $height: 5rem) {
  block-size: $height;
  fill: none;
  fill-rule: evenodd;
  inline-size: $width;
  stroke: $stroke;
  stroke-linecap: round;
  stroke-linejoin: round;
}

@mixin visually-hidden() {
  block-size: 1px;
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  inline-size: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

@mixin outline($color: currentColor, $colorOutline: currentColor, $width: $outline-width, $offset: $outline-offset) {
  color: $color;
  outline: $width solid $colorOutline;
  outline-offset: $offset;
}


@mixin transition($property: all) {
  transition: $property $animation-speed ease-in-out;
}

/* scrollbar */
@mixin scrollbar($scrollbar-dimension: $scrollbar-dimension, $scrollbar-radius: $scrollbar-radius) {
  @supports (scrollbar-width: auto) {
    scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color; /* thumb and track color */
    scrollbar-width: thin; /* value: none, thin, auto */
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    block-size: $scrollbar-dimension;
    inline-size: $scrollbar-dimension;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb-color;
    border-radius: $scrollbar-radius;
  }

  &::-webkit-scrollbar-track {
    background-color: $scrollbar-track-color;
  }
}



// Media queries
// --------------------------------------------------
// @include screen(md) {} — od dané hranice nahoru
@mixin screen($name) {
  @if not map-has-key($grid-breakpoints, $name) {
    @warn 'Invalid breakpoint: #{$name}.';
  }
  @media (width >= #{map-get($grid-breakpoints, $name)}) {
    @content;
  }
}

// @include screen-max(md) {} — pod danou hranici
@mixin screen-max($name) {
  @if not map-has-key($grid-breakpoints, $name) {
    @warn 'Invalid breakpoint: #{$name}.';
  }
  @media (width < #{map-get($grid-breakpoints, $name)}) {
    @content;
  }
}

// @include screen-between(sm, md) {} — od dolní hranice (včetně) pod horní hranici
@mixin screen-between($lower, $upper) {
  @if not map-has-key($grid-breakpoints, $lower) {
    @warn 'Invalid breakpoint: #{$lower}.';
  }
  @if not map-has-key($grid-breakpoints, $upper) {
    @warn 'Invalid breakpoint: #{$upper}.';
  }
  @media (width >= #{map-get($grid-breakpoints, $lower)}) and (width < #{map-get($grid-breakpoints, $upper)}) {
    @content;
  }
}
