:root {

}



// Media queries breakpoints
// --------------------------------------------------

//
// Define the breakpoints at which your layout will change, adapting to different screen sizes.
//
$grid-breakpoints: (
  xxs:     0,
  xs:     20em, // 320px
  sm:     30em, // 480px
  md:     40em, // 640px
  lg:     48em, // 768px
  xl:     62em, // 992px
  2xl:    75em, // 1200px
  3xl:    80em  // 1280px
);



// z-index
// --------------------------------------------------
$zindex: (
  a:        10,
  b:        20,
  c:        30,
  skip:    600
);



// Grid system
// --------------------------------------------------
$grid-gutter-width:         24px;



// Fonts
// --------------------------------------------------
$font-family-base:           serif;



// Colors
// --------------------------------------------------
$text-color:                 #3e3e3e;
$link-color:                 #00136f;
$color-black:                #000;
$color-white:                #fff;



// Scrollbar
// --------------------------------------------------
$scrollbar-dimension:        .8rem;
$scrollbar-track-color:       transparent;
$scrollbar-thumb-color:       rgba(0, 0, 0, 0.3);
$scrollbar-radius:            .4rem;



// Outline
// --------------------------------------------------
$outline-width:               .25em;
$outline-offset:              .25em;



// Other
// --------------------------------------------------
$animation-speed:            .25s;
