.skip {
  inline-size: 100%;
  position: absolute;
}

.skip__list {

}

.skip__item {

}

.skip__link {
  @include transition(transform);
  inset-block-start: 0;
  inset-inline: 0;
  position: fixed;
  text-align: center;
  text-decoration: none;
  transform: translate(0, -100%);
  z-index: #{map-get($zindex, skip)};

  &:focus {
    outline: 0;
    transform: translate(0, 0);

    &:hover {
      text-decoration: underline;
    }
  }
}
